.navStyle {
  padding-left: 13rem !important;
  padding-right: 12rem !important;
  z-index: 10 !important;
}

.nav-link {
  color: #fff;
  font-weight: 600 !important;
  margin-right: 15px;
  letter-spacing: 2px;
}

.nav-link:hover {
  color: #fff !important;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.953);
}

.navbar-toggler-icon {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.logo {
  height: 120px;
  width: auto;
}

/* Adjust logo size on smaller screens */
@media (max-width: 991px) {
  .logo {
    height: 100px;
  }
}

.hero-content-container {
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

h1 {
  letter-spacing: 6px;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.carousel-image {
  height: 120vh;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 5;
}

.hero-content-new {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 5;
  padding-top: 25rem;
}

@media (max-width: 768px) {
  .carousel-image {
    height: 600px;
    object-fit: cover;
    width: 100%;
  }
}

@media (max-width: 991px) {
  .navStyle {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    z-index: 10 !important;
  }
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}

.navbar {
  z-index: 1030;
}

@media (max-width: 991px) {
  .navbar-nav {
    text-align: center;
  }

  .navbar-collapse {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .nav-item {
    margin: 0.5rem 0; /* Space between links */
  }
}

.form-card {
  background-color: rgb(0 0 0 / 0%) !important;
  padding: 6rem;
  border-color: #ba8c44 !important;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-control {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Focus styling for inputs */
}

h2 {
  color: #333; /* Text color for form heading */
}

.btn-primary {
  background-color: #ba8c44 !important;
  border-color: #ba8c44 !important;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the wrapper takes full height */
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.footerlinks {
  text-decoration: none;
  letter-spacing: 1.5px;
}

/*Portfolio*/

.album-item-frame {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  padding: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
}

.album-item-frame:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.album-images {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 10px; /* Space between images */
}

.composite-image {
  width: calc(33.33% - 10px); /* 3 images per row with gap */
  height: 350px; /* Increased height */
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.album-item-frame:hover .composite-image {
  transform: scale(1.05);
}

.album-title-overlay {
  position: absolute;
  bottom: 15px;
  left: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  transition: background 0.3s ease;
}

.album-item-frame:hover .album-title-overlay {
  background: rgba(0, 0, 0, 0.7); /* Darken the background on hover */
}

.album-link {
  text-decoration: none;
  display: block;
}

@media (max-width: 768px) {
  .composite-image {
    width: 100%; /* Stack images vertically on smaller screens */
    height: auto;
    margin-bottom: 10px;
  }

  .album-images {
    flex-direction: column;
    gap: 0; /* Remove the gap when images stack */
  }

  .album-item-frame {
    flex-direction: column;
  }
}

/*Videos page*/

.video-wrapper {
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.video-wrapper:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
}

.video-iframe {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

.video-title {
  font-weight: bold;
  color: #333;
}

@media (max-width: 768px) {
  .video-iframe {
    height: 200px;
  }

  .video-card {
    margin-bottom: 2rem;
  }
}

/*Client Album*/

.client-img {
  width: 100%;
  height: 300px !important;
  object-fit: cover; /* Ensures the image is cropped to fit */
  border-radius: 10px;
  position: relative;
}

.client-info-overlay {
  position: absolute;
  height: -webkit-fill-available;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  z-index: 2; /* Make sure it sits on top of the image */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.client-info {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
}

.client-name {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  padding-bottom: 5px;
}

/* Styling for event date */
.event-date {
  font-size: 0.875rem;
  margin: 0;
}

/* Add hover effect for the card */
.client-card:hover .client-img {
  transform: scale(1.05); /* Slight zoom on hover */
  transition: transform 0.3s ease-in-out;
}

.client-card {
  position: relative;
}

.client-card:hover .client-img {
  transform: scale(1.03);
}

/* Modal styling */
.modal-dialog {
  max-width: 100%; /* Fullscreen width modal */
  margin: 0; /* No margin */
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.9); /* Transparent modal background */
}

.modal-body {
  background-color: #ffffff00;
}

.modal-img {
  width: 100%;
  height: 350px; /* Uniform size inside the modal */
  object-fit: cover;
  border-radius: 10px;
}

.close {
  background-color: transparent;
  border: none;
}

.large-image {
  max-width: 90%;
  max-height: 80vh;
  object-fit: cover;
  border-radius: 10px;
}

.modal-img {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.modal-img:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}

.selected-img {
  border: 2px solid #007bff; /* Highlight the selected thumbnail */
}

.image-nav button {
  margin: 5px;
}

/*Bio*/

.bio-text h2 {
  letter-spacing: 3px;
  font-size: larger;
}

.bio {
  font-size: 15px;
  font-weight: 400;
}

@media (max-width: 992px) {
  .bio-text {
    padding-left: 4rem !important;
  }
}

@media (max-width: 768px) {
  .client-img,
  .modal-img {
    height: 200px; /* Adjust height for smaller screens */
  }
  .bio-text {
    padding-left: 1rem !important;
    text-align: center;
    padding-top: 1.5rem;
  }
  .bio {
    text-align: justify !important ;
  }

  .contact-details {
    text-align: center !important;
  }
}

@media (max-width: 576px) {
  .client-img,
  .modal-img {
    height: 150px; /* Further adjust for very small screens */
  }
}
